header {
  background-color: #ffcc99;
  font-weight: bolder;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
  background-color: #e6f2ff;

  display: flex;
  flex-direction: row;
}

aside {
  flex: 1;
  border-color: rgba(204, 204, 204);
  border-width: 1px;
  border-style: solid;
  background-color: #b3d9ff;
}

section {
  flex: 3;
  margin: 20px;
}

footer {
  background-color: #99cc99;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
